@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.5rem;
  min-height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
  background-color: hsl(233, 47%, 7%);
}

@media screen and (min-width: 280px) {
  .container {
    width: 90%;
    align-self: center;
    justify-self: center;

    display: flex;
    justify-content: center;
    align-items: center;
    background-color: hsl(244, 38%, 16%);
    border-radius: 10px;
    overflow: hidden;
  }

  .card {
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2.5rem;
  }

  .card__image {
    width: 100%;
    height: 300px;
    background: linear-gradient(
        hsla(277, 64%, 61%, 0.6),
        hsla(277, 64%, 61%, 0.6)
      ),
      url("./images/image-header-mobile.jpg") no-repeat;
    background-size: cover;
  }

  .card__info {
    padding: 3rem 2rem;
    display: flex;
    flex-direction: column;

    gap: 2rem;
  }

  .card__heading {
    font-family: Inter;
    font-weight: 700;
    font-size: 3.5rem;
    text-align: center;
    color: hsl(0, 0%, 100%);
  }

  .card__body {
    display: flex;
    flex-direction: column;
    gap: 3.5rem;
    justify-content: center;
    align-items: center;
  }

  .card__description {
    font-family: "Lexend Deca";
    font-size: 1.6rem;
    font-weight: 400;
    text-align: center;
    line-height: 2.5rem;
    color: hsla(0, 0%, 100%, 0.6);
  }

  .card__stats {
    display: flex;

    flex-direction: column;
    gap: 3.2rem;
    justify-content: center;
    align-items: center;
    color: hsl(0, 0%, 100%);
  }

  .card__stats-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .card__stats-item span:first-child {
    font-family: Inter;
    font-size: 2.4rem;
    font-weight: 700;
  }

  .card__stats-item span:last-child {
    font-family: "Lexend Deca";
    text-transform: uppercase;
    font-size: 1.2rem;
    letter-spacing: 0.1rem;
    font-weight: 400;
    color: hsla(0, 0%, 100%, 0.6);
  }

  .hl-accent {
    color: hsl(277, 64%, 61%);
  }
}

/* @media screen and (min-width: 1200px) {
  .container {
    width: 80%;
  }
} */

@media screen and (min-width: 540px) {
  .container {
    width: 60%;
  }
}

@media screen and (min-width: 720px) {
  .container {
    width: 50%;
  }
}

/* @media screen and (min-width: 900px) {
  .container {
    width: 40%;
  }
} */

/* @media screen and (min-width: 1024px) {
  .container {
    width: 40%;
  }
} */

@media screen and (min-width: 1200px) {
  .container {
    width: 70%;
  }

  .card {
    flex-direction: row;
  }
  .card__image {
    order: 1;
    width: 50%;
    height: auto;
    align-self: stretch;

    background: linear-gradient(
        hsla(277, 64%, 61%, 0.6),
        hsla(277, 64%, 61%, 0.6)
      ),
      url("./images/image-header-desktop.jpg");
    background-size: cover;
  }

  .card__info {
    width: 50%;
    padding: 6rem;
  }

  .card__body {
    gap: 6rem;
  }

  .card__stats {
    flex-direction: row;
    align-self: start;
    gap: 6rem;
  }

  .card__heading {
    text-align: left;
  }

  .card__description {
    text-align: left;
    font-size: 1.4rem;
  }

  .card__stats {
  }
  .card__stats-item {
    gap: 0.4rem;
    align-items: start;
    justify-content: start;
  }

  .card__stats-item span:last-child {
    font-size: 1rem;
  }
}

@media screen and (min-width: 1600px) {
  .container {
    width: 50%;
  }

  .card {
    flex-direction: row;
  }
  .card__image {
    order: 1;
    width: 50%;
    height: auto;
    align-self: stretch;

    background: linear-gradient(
        hsla(277, 64%, 61%, 0.6),
        hsla(277, 64%, 61%, 0.6)
      ),
      url("./images/image-header-desktop.jpg");
    background-size: cover;
  }

  .card__info {
    width: 50%;
    padding: 6rem;
  }

  .card__body {
    gap: 6rem;
  }

  .card__stats {
    flex-direction: row;
    align-self: start;
    gap: 6rem;
  }

  .card__heading {
    text-align: left;
  }

  .card__description {
    text-align: left;
    font-size: 1.4rem;
  }

  .card__stats {
  }
  .card__stats-item {
    gap: 0.4rem;
    align-items: start;
    justify-content: start;
  }

  .card__stats-item span:last-child {
    font-size: 1rem;
  }
}
